[
    {
        "ParameterKey" : "EnvironmentName",
        "ParameterValue" : "{{ EnvironmentName }}"
    },
    {
        "ParameterKey" : "ProjectName",
        "ParameterValue" : "{{ ProjectName }}"
    },
    {
        "ParameterKey" : "SystemNumber",
        "ParameterValue" : "{{ SystemNumber }}"
    },
]